body {
  background-color: rgb(39, 36, 55);
}


/* Timeline */
.timeline {
    position: relative;
    margin: 2rem auto;
    padding: 2rem 0;
    width: 90%;
    max-width: 700px;
  }
  
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 32px;
    width: 4px;
    height: 100%;
    background: #ccc;
  }
  
  .timeline-item {
    display: flex;
    position: relative;
    margin-bottom: 2.5rem;
  }
  
  .timeline-icon {
    position: relative;
    z-index: 2;
    background: grey;
    border-radius: 50%;
    border: 2px solid #ccc;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    flex-shrink: 0;
  }
  
  .timeline-icon img {
    max-width: 70%;
    max-height: 70%;
  }
  
  .timeline-content {
    background: rgb(39, 36, 55);
    padding: 0.5rem 0;
  }
  
  .timeline-date {
    color: gray;
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
  }
  
  .timeline-sub {
    color: #666;
    font-size: 0.9rem;
  }
  
  .timeline-content > p{
    margin: 0.2rem;
    color: gainsboro;
  }

  .timeline-content > h3{
    margin: 0.2rem;
    color: aquamarine;
  }



/* Navbar */
.minimal-nav {
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.minimal-nav a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  margin: 0 1rem;
  display: inline-block;
}

.minimal-nav a:hover {
  opacity: 1;
}

