
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* Navbar */
.minimal-nav {
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

.minimal-nav a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
    transition: opacity 0.2s ease;
    margin: 0 1rem;
    display: inline-block;
}

.minimal-nav a:hover { opacity: 1; }



/************  GENERALI  ************/
:root {
    --background-color: rgb(52, 49, 46);
    --accent-color: rgb(241, 187, 139);
    --accent-color-hover: rgb(238, 169, 71);
    --base-color: rgba(0, 0, 0, 0.7);
    --base-color-hover: rgba(0, 0, 0, 0.9);
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: var(--background-color);
}

/* per animazione di non ricordo cosa */
@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/************  NAVBAR  ************/
.navbar {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
    text-align: center;
    padding: 15px 0px;
    z-index: 1000;
    transition: top 0.7s ease;
    font-weight: 100;
    margin-top: 15px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 6vw;
}

.nav-links a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    font-weight: 100;
}

.nav-links a:hover {
    color: var(--accent-color-hover);
    font-weight: 200;
}



/************  GALLERIA  ************/
.row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.column {
    /* layout standard: 2 colonne */
    padding: 0.5%;
    flex: 50%;
    max-width: 49%;
}

.column img {
    margin-top: 25px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease; /* per animazione hover */

    /* per animazione fade-in */
    opacity: 0;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.column img:hover {
    transform: scale(1.03);
    border-radius: 10px;
}



/************  POPUP  ************/
.fullscreen-popup {
    display: none;
    /* Nasconde il popup di default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen-image {
    max-width: 95%;
    max-height: 95%;
    margin: auto;
    border: 10px solid rgba(151, 145, 132, 0.668);
    border-radius: 15px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    color: var(--accent-color);
    cursor: pointer;
}




/*++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++ RESPONSIVENESS +++++++++++*/
/*++++++++++++++++++++++++++++++++++++++*/

/************ COLONNE GALERIA ************/

@media screen and (max-width: 900px) {
    /* makes the two columns stack on top of each other instead of next to each other */
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/************ NAVBAR ************/
@media screen and (max-width: 800px) { .nav-links a { font-size: 1rem; } } 